<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuan.dao.UserDao">
    <cache/>
    <resultMap id="UserBase" type="User">
        <id column="id" property="uid"></id>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="findAll" resultMap="UserBase">
        select * from user;
    </select>

    <select id="findById" resultMap="UserBase" parameterType="Integer">
        select * from user where id=#{uid};
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (username,password,email,age)
        values (#{username},#{password},#{email},#{age});
    </insert>

    <update id="updateById" parameterType="User">
        update user
        <set>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="age!=null">age=#{age}</if>
        </set>
            where id=#{uid};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from user where id=#{uid};
    </delete>

    <select id="login" parameterType="map" resultMap="UserBase">
        select * from user where username=#{username} and password=#{password};
    </select>

    <select id="findByUserName" parameterType="string" resultMap="UserBase">
        select * from user where username=#{username};
    </select>
    <!--姓氏查询-->
    <select id="findByWord" parameterType="string" resultMap="UserBase">
        select * from user
        where
            username like concat (#{word},'%')
    </select>
    <select id="findCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM user
    </select>
    <!--单条件查询-->
    <select id="findCondition" resultMap="UserBase" parameterType="java.util.HashMap">
        select * from user
        where id=-1
        <if test="uid !=null and uid !=''">
            or id=#{uid}
        </if>
        <if test="username !=null and username !=''">
            or username=#{username}
        </if>
        <if test="password !=null and password !=''">
            or password=#{password}
        </if>
        <if test="email !=null and email !=''">
            or email=#{email}
        </if>
        <if test="age !=null and age !=''">
            or age=#{age}
        </if>
    </select>
    <!--批量删除-->
    <delete id="deleteByList" parameterType="java.util.List">
        delete from user where id in
        <if test="list!=null and list.size>0">
            <foreach collection="list" open="(" close=")" separator="," item="idList">
                #{idList}
            </foreach>
        </if>
    </delete>
</mapper>

