<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuan.dao.OrderDao">
    <cache/>
    <resultMap id="OrderBase" type="Order">
        <id column="orderid" property="orderId"/>
        <result column="userid" property="userId"/>
        <result column="num" property="num"/>
        <result column="total" property="total"/>
        <result column="mqstatus" property="mqStatus"/>
        <result column="goodname" property="goodName"/>
    </resultMap>

    <select id="findAll" resultMap="OrderBase">
        select * from torder
    </select>

    <select id="findById" resultMap="OrderBase" parameterType="String">
        select * from torder where orderid=#{orderId};
    </select>

    <insert id="addOrder" parameterType="Order">
        insert into torder (orderid,userid,num,total,mqstatus,goodname)
        values (#{orderId},#{userId},#{num},#{total},#{mqStatus},#{goodName});
    </insert>

    <update id="updateById" parameterType="Order">
        update torder
        <set>
            <if test="userId!=null">userid=#{userId},</if>
            <if test="num!=null">num=#{num},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="total!=null">mqstatus=#{mqStatus},</if>
            <if test="goodName!=null">goodname=#{goodName},</if>
        </set>
            where orderid=#{orderId};
    </update>

    <delete id="deleteById" parameterType="String">
        delete from torder where orderid=#{orderId};
    </delete>

    <!--本地冗余消息表-->
    <insert id="addOrderToBackup" parameterType="Order">
        insert into torderbackup (orderid,userid,num,total,mqstatus,goodname)
        values (#{orderId},#{userId},#{num},#{total},#{mqStatus},#{goodName});
    </insert>
    <update id="updateByIdBackup" parameterType="Order">
        update torderbackup
        <set>
            <if test="userId!=null">userid=#{userId},</if>
            <if test="num!=null">num=#{num},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="mqStatus!=null">mqstatus=#{mqStatus},</if>
            <if test="goodName!=null">goodname=#{goodName},</if>
        </set>
        where orderid=#{orderId};
    </update>

    <select id="selectByCondition" parameterType="java.util.Map" resultMap="OrderBase">
        select * from torderbackup where mqstatus=#{mqStatus}
    </select>
</mapper>

